<nav class="navbar fixed-bottom navbar-dark bg-warning">
  <%= link_to "Inicio", root_url, class: 'btn btn-sm bg-light' %>
  <a id="copyright" class="navbar-brand" href="#!"><small>Amiel<strong>Rostán</strong> &copy; 2021 - Programación III - UAP</small></a>
</nav>
