<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-secondary" style="height: 50px">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Finance</a>
    <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/bills">Cuentas</a>
        <a class="nav-link" href="/movements">movimientos</a>
      </div>
    </div>
    <%= render 'shared/user_menu' %>
  </div>
</nav>
<br>
<br>
