<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-secondary" style="height: 50px">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TV Shows</a>
    <div class="collapse navbar-collapse show" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/brands">Marcas</a>
        <a class="nav-link" href="/cloth_types">Tipos</a>
        <a class="nav-link" href="/clothings">Vestimentas</a>
        <a class="nav-link" href="/cloths">Prendas</a>
        <a class="nav-link" href="/presenters">Presentadores</a>
        <a class="nav-link" href="/shows">Programas</a>
      </div>
    </div>
    <%= render 'shared/user_menu' %>
  </div>
</nav>
<br>
<br>
