h1 {
  color: #6C757D;
  font-family: 'Raleway',sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 72px;
  margin: -30px 0 0 0px;
  text-transform: uppercase;
}

h2 {
  color: #6C757D;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  margin: 0 0 24px;
}

h3 {
  color: #6C757D;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 28px;
  margin: 0 0 24px;
}


p { color: #6C757D; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 500; line-height: 32px; margin: 0 0 24px; }


a { color: #6C757D; text-decoration: underline; }


a:hover { color: #1c1c1c; text-decoration: underline; }



label {
    font-weight: bold !important;
}

.form-field{
  border-radius: 5px;
  border: 0;
  outline: none;
  width: 100%;
  padding-left: 1%;
  margin-top: -15px;
}

.filter-field{
  border-radius: 5px;
  border: 0;
  outline: none;
  padding-left: 1%;
  margin-top: -15px;
}

.container-gray{
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(200, 200, 200, .9);
  padding: 5px;
}

.filterborders {
  border-radius: 16px;overflow:hidden;
  background-color: #FFC107;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

body {
  background-color: #faefdc;
  color: #333;
  margin: 33px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #ffffff;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000000; }

a:visited {
  color: #000000; }


th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#copyright {
  color: #000000;
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
